{
    "swagger": "2.0",
    "info": {
        "version": "0.5.1",
        "title": "My Precious Message Queue",
        "description": "A simple Message Queue implementation for PHP using RESTful API",
        "contact": {
            "name": "Bjørne Malmanger",
            "email": "bjorne@malmanger.no",
            "url": "https://www.malmanger.no"
        },
        "license": {
            "name": "GPLv3",
            "url": "http://www.gnu.org/licenses/gpl.txt"
        }
    },
    "host": "rp.malmanger.no",
    "basePath": "/mpmq",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/queues": {
            "get": {
                "description": "list of available queues.\n",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "ArrayOfQueues",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/queue"
                            }
                        }
                    },
                    "404": {
                        "description": "No Queues Found"
                    }
                }
            },
            "post": {
                "description": "Create new queue",
                "parameters": [
                    {
                        "name": "queue",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/queueBasic"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/queue"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/queues/{id}": {
            "get": {
                "description": "Get information about queue with id={id}\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Queue information",
                        "schema": {
                            "$ref": "#/definitions/queue"
                        }
                    },
                    "404": {
                        "description": "Queue Not Found"
                    }
                }
            },
            "put": {
                "description": "Update queue\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue to update",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "queue",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/queueBasic"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Queue updated",
                        "schema": {
                            "$ref": "#/definitions/queue"
                        }
                    },
                    "404": {
                        "description": "Queue not found"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete queue with id={id}\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Queue deleted OK"
                    },
                    "404": {
                        "description": "No Queues Found"
                    }
                }
            }
        },
        "/queues/{id}/messages": {
            "get": {
                "description": "list of available messages in queue with id={id}.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "ArrayOfMessages",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/message"
                            }
                        }
                    },
                    "404": {
                        "description": "No Messages or Queue Found"
                    }
                }
            },
            "post": {
                "description": "Create new message",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newMessage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        },
        "/queues/{id}/messages/in-flight": {
            "get": {
                "description": "list of messages that is reserved and in in-flight for queue with id={id}.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "title": "ArrayOfMessages",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/message"
                            }
                        }
                    },
                    "404": {
                        "description": "No Messages or Queue Found"
                    }
                }
            }
        },
        "/queues/{id}/messages/{messageId}": {
            "get": {
                "description": "Get message with id={messageId} in queue with id={id} and reserve it to in-flight\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Queue information",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "404": {
                        "description": "No Queues Found"
                    }
                }
            },
            "put": {
                "description": "Update message in queue\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue to update",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/newMessage"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Queue updated",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "404": {
                        "description": "Queue not found"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete queue with id={id}\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of queue to delete",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Message deleted OK"
                    },
                    "404": {
                        "description": "No Message Found"
                    }
                }
            }
        },
        "/queues/{id}/messages/{messageId}/information": {
            "get": {
                "description": "Get information about message with id={messageId} in queue with id={id}\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message information",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "404": {
                        "description": "No Queues Found"
                    }
                }
            }
        },
        "/queues/{id}/messages/{messageId}/touch": {
            "get": {
                "description": "touch and extend timeout for message with id={messageId} in queue with id={id}\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message updated",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "404": {
                        "description": "No Message Found"
                    }
                }
            }
        },
        "/queues/{id}/messages/{messageId}/release": {
            "get": {
                "description": "release message with id={messageId} in queue with id={id} from in-flight\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "description": "ID og queue to get",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message released",
                        "schema": {
                            "$ref": "#/definitions/message"
                        }
                    },
                    "404": {
                        "description": "No Message Found"
                    }
                }
            }
        }
    },
    "definitions": {
        "link": {
            "type": "object",
            "required": [
                "rel",
                "href"
            ],
            "properties": {
                "rel": {
                    "type": "string"
                },
                "href": {
                    "type": "string"
                }
            }
        },
        "queue": {
            "type": "object",
            "required": [
                "id",
                "name"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "An URL friendly short name for your queue"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "timeout": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Default timeout in seconds for messages in flight, default 24h (86400s) minimum 60s",
                    "default": 86400
                },
                "available": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of available messages in queue"
                },
                "in-flight": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of messages In Flight"
                },
                "links": {
                    "title": "ArrayOfLinks",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/link"
                    }
                }
            }
        },
        "queueBasic": {
            "type": "object",
            "required": [
                "id",
                "name"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "An URL friendly short name for your queue"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "timeout": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Default timeout in seconds for messages in flight, default 24h (86400s) minimum 60s",
                    "default": 86400
                }
            }
        },
        "errorModel": {
            "type": "object",
            "required": [
                "code",
                "messages"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "messages": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "message": {
            "type": "object",
            "required": [
                "messageId",
                "title"
            ],
            "properties": {
                "messageId": {
                    "type": "integer",
                    "format": "int64"
                },
                "title": {
                    "type": "string"
                },
                "payload": {
                    "type": "string",
                    "format": "byte"
                },
                "timeout": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Default timeout in seconds for messages in flight, default 24h (86400s) minimum 60s",
                    "default": 86400
                },
                "in-flight": {
                    "type": "boolean",
                    "default": false
                },
                "links": {
                    "title": "ArrayOfLinks",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/link"
                    }
                }
            }
        },
        "newMessage": {
            "type": "object",
            "required": [
                "title"
            ],
            "properties": {
                "title": {
                    "type": "string"
                },
                "payload": {
                    "type": "string",
                    "format": "byte"
                },
                "timeout": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Default timeout in seconds for messages in flight, default 24h (86400s) minimum 60s",
                    "default": 86400
                }
            }
        }
    }
}